<div class="mx-1 my-2">
  <a href="/products/create">
    <img src="/img/icon/create.png" class="icon-size-30-24">
  </a>
  <a href="/products/trash" class="float-right">
    <img src="/img/icon/delete.png" class="icon-size-30-24">
  </a>
</div>
<div class="wrapper">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">price</th>
          <th scope="col">image</th>
          <th scope="col">type</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.price}}</td>
          <td><img class="img-product" src="/img/product/{{this.image}}" /></td>
          <td>{{this.type}}</td>
          <td>
            <a href="/products/{{this._id}}/edit" class="btn btn-link btn-circle rounded-circle">
              <i class="ti-marker-alt"></i>
            </a>
            <a id="btn-delete" class="btn btn-link btn-circle rounded-circle" data-toggle="modal"
              data-target="#confirm-delete-modal">
              <input class="d-none" type="text" values="{{this._id}}">
              <i class="ti-trash"></i>
            </a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Chưa có sản phẩm nào.
            <a href="/products/create">thêm mới sản phẩm</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<!--Form hidden confirm delete-->
<form id="delete-form" method="POST" action=""></form>

<!-- Modal -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa ?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</a>
        <a id="btn-confirm-delete" type="button" class="btn btn-primary">Xác nhận</a>
      </div>
    </div>
  </div>
</div>

<script>
  let productID;
  const btnDelete = document.querySelectorAll("[id=btn-delete]");
  const btnConfirmDelete = document.getElementById("btn-confirm-delete");
  const deleteForm = document.forms['delete-form'];

  //get productID of btnDelete
  btnDelete.forEach((element, index) => {
    element.onclick = (e) => {
      e.preventDefault();
      { { !--console.log(btnDelete[index].children[0].getAttribute('values')) --} }
      productID = btnDelete[index].children[0].getAttribute('values');
    };
  });

  //submit form delete when click confirm delete
  btnConfirmDelete.onclick = () => {
    deleteForm.action = `/products/${productID}?_method=DELETE`;
    deleteForm.submit();
  }
</script>